.name-container p, .name-container div {
    margin-top: 0;
    margin-bottom: 0;
}

.name-container h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

.dual-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

.dual-container img {
    width: 100%;
    border-radius: 5px;
}

.center-align p {
    text-align: center;
}

.border {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}