.backgroundImage01 {
    background-image: url("../image/background/backgroundImage01.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundImage02 {
    background-image: url("../image/background/backgroundImage02.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}