/* Font Types */
.font-Courier {
    font-family: 'Courier', serif;
    font-size: 12px;
}

.font-Nunito {
    font-family: 'Nunito', serif;
    font-size: 12px;
}

.font-Share_Tech_Mono {
    font-family: 'Share Tech Mono' !important;
    font-size: 15px;
}
/* Font Sizes */
.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 12px;
}